{% load  static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>ورود</title>
</head>
<body class="bg-[#fcfcfc]" style="background-image: linear-gradient(120deg, #e3eeff 0%, #f7fbfd 100%);">
<div class="h-screen flex justify-center items-center">
    <div class="bg-white rounded-2xl border w-11/12 sm:w-7/12 md:w-6/12 lg:w-4/12 xl:w-3/12 h-auto py-5 px-4">
        <img class="w-44 mx-auto" src="{% static 'image/logo.png' %}" alt="">
        <form method="post" action="#">
            {% csrf_token %}
            <div>
                {% if form.non_field_errors %}
                    <div class="bg-red-100 text-red-800 px-3 py-2 rounded-md text-sm">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mt-5 mb-4 text-lg font-semibold text-zinc-800">
                نام کاربری خود را وارد کنید
            </div>
            <div class="flex flex-col gap-y-1">
                {{ form.fullname }}
                {% if form.fullname.errors %}
                    <p class="text-red-600 text-sm mt-1">
                        {{ form.fullname.errors|join:" " }}
                    </p>
                {% endif %}
            </div>

            <div class="mt-5 mb-4 text-lg font-semibold text-zinc-800">
                شماره تماس خود را وارد کنید
            </div>
            <div class="flex flex-col gap-y-1">
                {{ form.phone }}
                {% if form.phone.errors %}
                    <p class="text-red-600 text-sm mt-1">
                        {{ form.phone.errors|join:" " }}
                    </p>
                {% endif %}
            </div>

            <div class="mt-5 mb-4 text-lg font-semibold text-zinc-800">
                رمز عبور را وارد کنید
            </div>
            <div class="flex flex-col gap-y-1">
                {{ form.password }}
                {% if form.password.errors %}
                    <p class="text-red-600 text-sm mt-1">
                        {{ form.password.errors|join:" " }}
                    </p>
                {% endif %}
            </div>

            <div class="flex gap-4 mt-5">
                <button type="submit" name="action" value="register"
                        class="mx-auto w-full px-2 py-2 text-sm bg-green-500 hover:bg-green-400 transition text-gray-100 rounded-lg">
                    ورود
                </button>
            </div>
        </form>

        <div class="mt-5">
            <a class="text-xs text-red-400 hover:text-red-500 transition flex items-center"
               href="{% url 'user_login:register' %}">
                ورود با رمز یکبار مصرف
                <svg class="fill-red-400" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=""
                     viewBox="0 0 256 256">
                    <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
                </svg>
            </a>
            <a class="mt-4 text-xs text-red-400 hover:text-red-500 transition flex items-center"
               href="{% url 'user_login:register_password' %}">
                ثبت نام
                <svg class="fill-red-400" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=""
                     viewBox="0 0 256 256">
                    <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>


</body>
</html>
